<odoo>
    <menuitem id="menu_homework" name="apps_tareas" parent="" sequence="1">
    </menuitem>

    <menuitem id="submenu_homework" name="Tareas" parent="menu_homework">
    </menuitem>

    <menuitem id="submenu_register_homework" name="Registrar Tareas" parent="submenu_homework" action="view_homework_action">
    </menuitem>

</odoo>