<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_manegement_sales"
              name="Management Sales"
              sequence="2"/>

    <menuitem id="submenu_customer"
              name="Cliente"
              parent="menu_manegement_sales"
              action="sales_management.action_customer"
              sequence="1"/>

    <menuitem id="submenu_order"
              name="Pedido"
              parent="menu_manegement_sales"
              action="sales_management.action_order"
              sequence="2"/>
    
    <menuitem id="submenu_commercial"
              name="Comercial"
              parent="menu_manegement_sales"
              action="sales_management.action_commercial"
              sequence="3"/>
</odoo>